@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
    background-color: beige;
    @apply text-purple-950;
}

.dark body {
    @apply bg-purple-950 text-white;
}

.btn {
    @apply py-2 px-4 rounded-2xl;
}
